@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", serif;
}
.heading {
  font-family: "Indie Flower", serif;
  font-size: 50px;
}

#buttons label{
padding: 5px 10px;
border: 1px solid rgb(37, 33, 33);
border-radius: 5px;
cursor: pointer;
transition: all 0.5s ease;
}

#buttons input{
    display: none;
}

#buttons label:hover{
    background-color: black;
    color: white;
}

div:has(input:checked)>label{
    background-color: black;
    color: white;
}

#card img{
    width: 160px;
    height: 160px;
    object-fit: cover;

}

#menu-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    padding: 40px 160px 0;
    gap: 30px;
}

@media (max-width: 767.98px) {
  #menu-list {
    padding: 20px 50px 0;
    grid-template-columns: 1fr; /* Tek sütun yap */
    gap: 20px;
  }

  #card img {
    width: 100%;
    height: auto;
  }

  #buttons {
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px;
  }

  #buttons > div {
    flex: 0 1 auto; 
    text-align: center;
  }
}
